$brand-orange: #EB6E4B;
$brand-black: #48484A;
$brand-turquoise: #78CBBF;
$brand-grey: #F2F2F2;

$sub-color: #666;
$secondary-light-grey: #f5f5f5;
$input-border-grey: #ced4da;
$danger-red: #635859;
$success-green: #95b96a;
$failure-grey: #454545;