$default-font-family: Arial, sans-serif;
$highlight-font-family: "Space Grotesk", Arial, sans-serif;

$default-font-size: 16px;
$font-size-sm: 14px;
$font-size-nav: 11.3227px;
$default-line-height: 20pt; 
