{
    "extends": ["@imaginary-cloud/react"],
  
    "rules": {
      "no-shadow": 0,
      "no-self-assign": 0,
      "no-nested-ternary": 0,
      "no-param-reassign": 0,
      "no-underscore-dangle": 0,
      "import/no-named-as-default": 1,
      "react/react-in-jsx-scope": 1,
      "no-unused-vars": 1,
      "no-console": 1,
      "prettier/prettier": 1,
      "spaced-comment": 1,
      "react/prop-types": 1,
      "arrow-body-style": 1,
      "import/order": [
        "warn",
        {
          "groups": ["builtin", "external", "internal"],
          "pathGroups": [
            {
              "pattern": "react",
              "group": "external",
              "position": "before"
            }
          ],
          "pathGroupsExcludedImportTypes": ["react"],
          "newlines-between": "always",
          "alphabetize": {
            "order": "asc",
            "caseInsensitive": true
          }
        }
      ]
    }
  }